:root {
    --brown: #2b2224;
    --dark-red: #ecebd3;
    --parchment: #1e1d25;
}

@font-face {
    font-family: 'UAF Memory';
    src: url('../assets/fonts/UAFMemory-Black.otf') format('opentype');
    font-weight: 900;
}

body {
    background-image: url('../assets/img/bg-pic.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'UAF Memory', serif;
    margin: 0;
}

.scroll {
    background-color: var(--parchment);
    padding: clamp(15px, 5vw, 40px);
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    min-height: 85vh;
    border: 2px solid var(--brown);
    box-sizing: border-box;
    color: #d1d1d1;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

h1 { 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(66, 54, 42, 1);
    border-bottom: 2px solid var(--brown);
    font-size: clamp(1.5em, 5vw, 2.5em);
}

.wiki-list {
    list-style: none;
    padding: 0;
}

.wiki-list li {
    padding: 12px 0;
    border-bottom: 1px dotted var(--brown);
}

.wiki-list a {
    color: var(--dark-red);
    text-decoration: none;
    font-size: 1.1em;
    display: block; /* Полегшує натискання на мобільних */
}

.wiki-list a:hover { 
    text-decoration: underline;
    color: var(--brown);
}

@media (max-width: 480px) {
    .scroll {
        padding: 15px;
        width: 95%;
        margin: 10px auto;
    }
}